
<p>
  <div >
    <%= image_tag (comment.user.avatar_thumbnail) if comment.user.avatar_thumbnail%>
  </div>

  <strong>  <%=comment.user.email%></strong> wrote :
</p>

<p>
  <b>Comment:</b>
  <%= comment.body %>
</p>
<p>
  <%# <%= link_to 'Destroy Comment', [comment.article, comment], %>
               <%# method: :delete, %>
               <%# data: { confirm: 'Are you sure?' } %> %>
</p>
