
<p>

<strong>  <%=comment.user.email%></strong> wrote :
  <br>
  <b>Commenter:</b>
  <%= comment.commenter %>
</p>

<p>
  <b>Comment:</b>
  <%= comment.body %>
</p>
<p>
  <%# <%= link_to 'Destroy Comment', [comment.article, comment], %>
               <%# method: :delete, %>
               <%# data: { confirm: 'Are you sure?' } %> %>
</p>
