<h1 align="center" background="99982">Welcome to the blog</h1>
<span>
<h3><button type="button" name="Sign_up"><%= link_to "Sign Up", "/users/sign_up" %></button>
</span>
<span>
<h3><button type="button" name="Sign_up"><%= link_to "log_in", "/users/sign_in" %></button>
</span>
<span>
<h3><button type="button" name="Sign_up"><%= link_to "My Blog", articles_path %></button></h3>
</span>
